{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
{{ include('navbar.html.twig') }}
  
   {% block stylesheets %}

    {% endblock %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.description }}</td>
            </tr>
            <tr>
                <th>Picture_1</th>
                <td>{{ article.picture1 }}</td>
            </tr>
            <tr>
                <th>Picture_2</th>
                <td>{{ article.picture2 }}</td>
            </tr>
            <tr>
                <th>Picture_3</th>
                <td>{{ article.picture3 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_article_index') }}">back to list</a>

    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
